@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1730193706178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e637";
}

.icon-iconzhuye:before {
  content: "\e60b";
}

.icon-Skill:before {
  content: "\e606";
}

.icon-wodezuopin:before {
  content: "\e680";
}

.icon-shenghuofuwu1:before {
  content: "\e609";
}

.icon-a-087_mingpian:before {
  content: "\e7db";
}

